{% load static %}
<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" type="text/css" href="{% static 'polls.css' %}" />
<script src="{% static 'polls/static/style.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Love{% endblock %}</title>
</head>


<body>
<div class="container-fluid w-100 p-0 text-white" style="background:#ceb4a3">
    <div class="bg-warning-color-dark center-block" style="height:10px"></div>
    <div class="" style="height:1px"></div>
    <h1 class="d-inline header p-3"><i class="fa fa-coffee" aria-hidden="true"></i>Love
    <img width="100rem" src="{% static "image/logo-big-brown.png" %}" alt="My image"/>Home<i class="fa fa-coffee" aria-hidden="true"></i></h1>
    <i class="pull-right">Where love came true</i>

    <div class="bg-warning-color-dark">
        <button type="button" class="btn btn-outline-light pull-right" data-toggle="modal" data-target="#exampleModal">Home</button>
        <button class="btn btn-outline-light">Calendar</button>
        <button class="btn btn-outline-light">Recipe</button>
        <button class="btn btn-outline-light">Loveboard</button>
    </div>
    <div class="" style="background:#ceb4a3;height:10px"></div>
</div>

<div>
    You said yes <span class="btn btn-success" id="yes">0</span> times and no <span class="btn btn-danger" id="no">0</span> times.
</div>
<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background:#ceb4a3">
        <h5 class="modal-title text-white" id="exampleModalLabel" style="background:#ceb4a3">So...?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Will you marry me ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="noReceived()">No</button>
        <button type="button" class="btn btn-success" data-dismiss="modal" onclick="yesReceived()">Yes</button>
      </div>
    </div>
  </div>
</div>
<script>
    var yes = 0
    var no = 0
    function yesReceived(){
        yes ++;
        $('#yes').html(yes);
        if (yes >= 5){
            alert("I win");
        }
    }
    function noReceived(){
        no ++;
        $('#no').html(no);
        if (no >= 5){
            alert("You lose");
            $('html').html('')
        }
    }
</script>
{% block content %}
{% endblock %}

</body>


</html>
